body {
    background:#195f88;
    font-size:14px
}
div#wrap {
    width:1080px;
    position:relative;
    margin:0 auto!important
}
div#sidebar {
    width:220px;
    height:100%;
    float:left;
    background:#2c2c2c;
    border-right:1px solid #2e2f2f;
    position:fixed
}
div#container {
    width:829px;
    float:right;
    padding-right:25px;
    left:-5px;
    position:relative;
    padding-top:0;
    background:#619ec2;
}
#navigation{
    font-size: 20px;
    font-style: inherit;
    color: #E9E7E7;
}
