<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.css"  charset="utf-8">
    <link rel="stylesheet" href="./style/index.css"  charset="utf-8">
    <title>稚子候门系列之图片识别</title>
</head>
<script type="text/javascript" src="./script/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="./bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="./layer/layer.js"></script>
<script type="text/javascript" src="./script/index.js"></script>
<body>
<div id="wrap">
    <div id="sidebar">
        <div id="navigation">
            <h3>首页</h3>
            <h3>关于我们</h3>
        </div>


    </div>
    <div id="container">

        <!--图片预览区-->
        <div >
            <span>这是图片预览区</span>

        </div>
        <!--上传按钮区？-->
        <div>
            <form>
                <div class="form-group">
                    <!--<label for="exampleInputFile">File input</label>-->
                    <input type="file" id="exampleInputFile">
                </div>
                <button type="submit" class="btn btn-success">识别</button>
            </form>
        </div>
    </div>

</div>
</body>
</html>