
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="大兴区今天实况：28度 阴，湿度：60%，东南风：2级。白天：30度,阴。 夜间：雷阵雨，22度，天气较热，墨迹天气建议您选择短袖上衣加七分裤的搭配，针织衫是进出空调房的必备单品。">
    <!--<meta name="keywords" content="大兴区天气预报，查询">-->
    <!--<meta name="author" content="Moji Weather Web Dev Team">-->
    <link rel="shortcut icon" href="https://h5tq.moji.com/f5/assets/tianqi/favicon.ico">
    <link rel="apple-touch-icon" href="https://h5tq.moji.com/f5/assets/tianqi/custom_icon.png">
    <link rel="apple-touch-icon" href="https://h5tq.moji.com/f5/assets/tianqi/touch-icon-iphone-60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://h5tq.moji.com/f5/assets/tianqi/touch-icon-ipad-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://h5tq.moji.com/f5/assets/tianqi/touch-icon-iphone-retina-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://h5tq.moji.com/f5/assets/tianqi/touch-icon-ipad-retina-152.png">
    <meta name="mobile-agent" content="format=html5;url=https://m.moji.com/">
    <link rel="alternate" media="only screen and(max-width: 640px)" href="https://m.moji.com/">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>【稚子候门系列之天气预报和地图】</title>
    <link rel="stylesheet" href="https://h5tq.moji.com/tianqi/assets//styles/reset.css" charset="utf-8">
    <link rel="stylesheet" href="https://h5tq.moji.com/tianqi/assets//styles/index.css"  charset="utf-8">
    <link rel="stylesheet" href="https://h5tq.moji.com/tianqi/assets//styles/chanle.css"  charset="utf-8">
    <link rel="stylesheet" href="./styles/map.css"  charset="utf-8">

    <!--<link rel="stylesheet" href="./bootstrap/css/bootstrap.css"  charset="utf-8">-->
</head>
<body>
<div class="head_box">
    <div class="head clearfix">
        <a class="logo" href="http://www.moji.com/">
            <!--<img src="https://h5tq.moji.com/tianqi/assets//images/index/i_logo.png" alt="墨迹天气" height="31">-->
            <img src="./image/logo.png" alt="稚子候门" height="59">
        </a>
        <!---->
        <div class="nav">
            <a href="#" >首页</a>
            <a href="https://tianqi.moji.com" target="_blank">墨迹天气</a>
            <a href="https://www.amap.com/" target="_blank">高德地图</a>
            <a href="http://123.206.78.174/" target="_blank">稚子候门</a>
            <!--<a href="http://www.moji.com/about/">关于稚子候门</a>-->
        </div>
    </div>
</div>

<div id="skin"
     data-data="13"
     data-url="https://h5tq.moji.com/tianqi/assets/images/skin/day_1.jpg"
     style="background: url(https://h5tq.moji.com/tianqi/assets/images/skin/day_1.jpg) no-repeat center top;background-size: 100% 100%;">
</div>

<div class="wrap clearfix">
    <div class="comm_box">
        <!--面包屑-->
        <div class="crumb clearfix">
            <ul>
                <li>
                    <a href="https://tianqi.moji.com">天气</a>
                    <i></i>
                </li>
                <li>
                    <a href="https://tianqi.moji.com/weather/china">中国</a>
                    <i></i>
                </li>
                <li>
                    <a href="https://tianqi.moji.com/weather/china/beijing">北京市</a>
                    <i></i>
                </li>
                <li>大兴区</li>
            </ul>
        </div>
    </div>
    <!---->
</div>
<div class="wrap clearfix wea_info">
    <div class="left">
        <div class="wea_alert clearfix">
            <ul>
                <li>
                    <a href="https://tianqi.moji.com/aqi/china/beijing/daxing-district">
                        <span class="level level_1">
                            <img
                                    src="https://h5tq.moji.com/tianqi/assets/images/aqi/1.png"
                                    alt="38 优">
                        </span>
                        <em>38 优</em>
                    </a>
                </li>
            </ul>
        </div>
        <div class="wea_weather clearfix">
            <em>28</em>
            <span><img src="https://h5tq.moji.com/tianqi/assets/images/weather/w2.png" alt="阴"></span>
            <b>阴</b>
            <strong class="info_uptime">今天18:00更新</strong>
        </div>
        <div class="wea_about clearfix">
            <span>湿度 60%</span>
            <em>东南风2级</em>
            <b>尾号限行4和9</b>        </div>
        <div class="wea_tips clearfix">
            <span>今日天气提示</span>
            <em>略微偏热，注意衣物变化。</em>
        </div>
    </div>
    <div class="right">
        <div class="wea_info_avator">
            <img src="https://h5tq.moji.com/tianqi/assets//images/avator/icon/3.png" alt="墨迹天气 小墨哥">
            <!--<div id="windows_download">-->
                <!--<img src="https://h5tq.moji.com/tianqi/assets//images/icon/avator_windows.png" height="35" alt="Windows 下载">-->
                <!--<a href="http://download.moji001.com/mojiapp/windoz/MoWeatherInstall_1.8.1.1.exe" target="_blank">Windows 下载</a>-->
            <!--</div>-->
        </div>
    </div>
</div>
<div class="wrap clearfix">
    <div class="left">
        <div class="forecast clearfix">
            <div class="g_title">
                <span>预报</span>
                <!--<ul class="nav">-->
                    <!--<li><a href="https://tianqi.moji.com/forecast7/china/beijing/daxing-district">7天预报</a></li>-->
                    <!--<li><a href="https://tianqi.moji.com/forecast10/china/beijing/daxing-district">10天预报</a></li>-->
                    <!--<li><a href="https://tianqi.moji.com/forecast15/china/beijing/daxing-district">15天预报</a></li>-->
                <!--</ul>-->
            </div>
            <ul class="days clearfix">
                <li>
                    <a href="https://tianqi.moji.com/today/china/beijing/daxing-district">今天</a>
                </li>
                <li>
                        <span>
                            <img src="https://h5tq.moji.com/tianqi/assets/images/weather/w2.png" alt="阴">
                        </span>
                    阴                    </li>
                <li>22° / 30°</li>
                <li>
                    <em>东风</em>
                    <b>3级</b>
                </li>
                <li><strong class="level_1">
                    43 优
                </strong>
                </li>
            </ul>
            <ul class="days clearfix">
                <li>
                    <a href="https://tianqi.moji.com/tommorrow/china/beijing/daxing-district">明天</a>
                </li>
                <li>
                        <span>
                            <img src="https://h5tq.moji.com/tianqi/assets/images/weather/w4.png" alt="雷阵雨">
                        </span>
                    雷阵雨                    </li>
                <li>21° / 25°</li>
                <li>
                    <em>北风</em>
                    <b>3级</b>
                </li>
                <li><strong class="level_1">
                    45 优
                </strong>
                </li>
            </ul>
            <ul class="days clearfix">
                <li>
                    <a href="https://tianqi.moji.com/tdat/china/beijing/daxing-district">后天</a>
                </li>
                <li>
                        <span>
                            <img src="https://h5tq.moji.com/tianqi/assets/images/weather/w4.png" alt="雷阵雨">
                        </span>
                    雷阵雨                    </li>
                <li>21° / 27°</li>
                <li>
                    <em>东北风</em>
                    <b>3级</b>
                </li>
                <li><strong class="level_2">
                    63 良
                </strong>
                </li>
            </ul>
        </div>

        <div class="hours">
            <div class="g_title">
                <span>24小时预报</span>
                <ul class="nav">
                    <li class="active">温度</li>
                    <li>风力</li>
                </ul>
            </div>
            <div class="charts clearfix">
                <div class="chart chart_temp clearfix" id="chart_temp">
                    <div class="prev"></div>
                    <div class="next"></div>
                    <div class="num">
                        <span>30°</span>
                        <span>20°</span>
                        <span>10°</span>
                        <span>0°</span>
                    </div>
                    <div class="canvas">
                        <div class="canvas_box">
                            <canvas width="4000" height="300" id="temp"></canvas>
                            <div class="canvas_point">
                                <span></span>
                                <div>
                                    <em>29°</em>
                                    <img src="https://h5tq.moji.com/tianqi/assets//images/weather/w1.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chart chart_wind clearfix" id="chart_wind" style="display: none;">
                    <div class="prev"></div>
                    <div class="next"></div>
                    <div class="num">
                        <span>30°</span>
                        <span>20°</span>
                        <span>10°</span>
                        <span>0°</span>
                    </div>
                    <div class="canvas">
                        <div class="canvas_box">
                            <canvas width="4000" height="300" id="wind"></canvas>
                            <div class="canvas_point">
                                <span></span>
                                <div>
                                    <em>29°</em>
                                    <img src="https://h5tq.moji.com/tianqi/assets//images/weather/w1.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--生活指数-->

    </div>
    <div class="right">
        <!--热门时景-->
        <div class="liveview liveview_index">
            <div class="title">
                <em>热门时景</em>
                <a href="https://tianqi.moji.com/liveview/china/beijing/daxing-district">更多</a>
            </div>
            <div class="item">
                <ul>
                    <li>
                        <a href="https://tianqi.moji.com/liveview/picture/81736828">
                        <span>
                            <img
                                    data-width="1080"
                                    data-height="1301"
                                    src="https://cdn.moji002.com/images/sthumb/2017/10/06/15072215250.83494900.1182_android.jpg" alt="四川省凉山彝族自治州盐源县泸沽湖镇亚泸路泸沽湖风景名胜区">
                        </span>
                            <h2>四川省凉山彝族自治州盐源县泸沽湖镇亚泸路泸沽湖风景名胜区</h2>
                        </a>
                    </li>
                    <li>
                        <a href="https://tianqi.moji.com/liveview/picture/81749154">
                        <span>
                            <img
                                    data-width="960"
                                    data-height="720"
                                    src="https://cdn.moji002.com/images/sthumb/2017/10/08/15074223300.94412000.1764_android.jpg" alt="安徽省黄山市休宁县溪口镇詹家山">
                        </span>
                            <h2>安徽省黄山市休宁县溪口镇詹家山</h2>
                        </a>
                    </li>
                </ul>
            </div>
        </div>            <div class="near">
        <div class="title">
            <em>附近地区</em>
            <a href="https://tianqi.moji.com/nearcity/weather/china/beijing/daxing-district">更多</a>
        </div>
        <div class="item clearfix">
            <ul>
                <li>
                    <a href="https://tianqi.moji.com/weather/china/beijing/beijing">北京市</a>
                </li>

                <li>
                    <a href="https://tianqi.moji.com/weather/china/beijing/chaoyang-district">北京市朝阳区</a>
                </li>

                <li>
                    <a href="https://tianqi.moji.com/weather/china/beijing/tongzhou-district">北京市通州区</a>
                </li>

                <li>
                    <a href="https://tianqi.moji.com/weather/china/beijing/changping-district">昌平区</a>
                </li>

                <li>
                    <a href="https://tianqi.moji.com/weather/china/beijing/shunyi-district">顺义区</a>
                </li>

                <li>
                    <a href="https://tianqi.moji.com/weather/china/beijing/huairou-district">怀柔区</a>
                </li>

                <li>
                    <a href="https://tianqi.moji.com/weather/china/beijing/pinggu-district">平谷区</a>
                </li>

                <li>
                    <a href="https://tianqi.moji.com/weather/china/beijing/miyun-district">密云区</a>
                </li>


            </ul>
        </div>
    </div>
    </div>
</div>

<!--增加地图模块-->
<div class="wrap clearfix calendar">
    <div class="g_title clearfix">
        <span>实时地图</span>
        <em><!--今天1:11更新--></em>
    </div>
    <div class="grid_title clearfix" >
        <ul class="nav nav-tabs">
            <li role="presentation" id="basic_map" class="active" onclick="basic_map();">基本地图</li>
            <li role="presentation" onclick="satellite();">卫星地图</li>
            <li role="presentation" onclick="live_traffic();">实时路况</li>
            <li role="presentation" onclick="tourist();">旅游地图</li>
            <li role="presentation" onclick="heat_map();">热力地图</li>
            <li role="presentation" onclick="bus_map();">公交地图</li>
        </ul>
    </div>
        <div class="grid clearfix" id="calendar_grid" >
            <!--插入地图信息-->
        </div>
</div>
<!--预留模块-->
<div id="reserved">
    <!--此处是预留模块-->
</div>
<input type="hidden" id="staticdomain" value="https://h5tq.moji.com/tianqi">
<input type="hidden" id="staticmd5" value="">
<script src="https://h5tq.moji.com/tianqi/assets/scripts/libs/jquery.min.js"></script>
<script src="https://h5tq.moji.com/tianqi/assets//scripts/pages/index.charts.js"></script>
<script src="https://h5tq.moji.com/tianqi/assets//scripts/pages/index.js"></script>
<script src="./bootstrap/js/bootstrap.js"></script>
<script src="./layer/layer.js"></script>

<!--//引入高德api-->
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.8&key=bfbbcb864bfb8e93f60ff8debadb8851&plugin=AMap.Geocoder"></script>

<script type="text/javascript" src="https://cache.amap.com/lbs/static/addToolbar.js"></script>
<!--//引入搜狐定位api-->
<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<iframe src="http://miniweb.cntv.cn/hezuo/mo.html" frameborder="0" width="0" height="0" style="display: none; overflow: hidden;"></iframe>
<div class="foot_box clearfix">
    <div class="foot clearfix">

        <div class="foot clearfix">
            <div class="address">
                <p>联系方式：ykbian@qq.com</p>
                <!--<ul class="f_nav">-->
                    <!--<li><a href="http://www.moji.com/updata/android/"  rel="nofollow" >升级日志</a></li>-->
                    <!--<li><a href="http://www.moji.com/faq/android/" rel="nofollow">常见问题</a></li>-->
                    <!--<li><a href="http://designer.moji.com/signin" rel="nofollow">设计师平台</a></li>-->
                    <!--<li><a href="http://www.moji.com/about/agreement/" rel="nofollow">服务协议</a></li>-->
                <!--</ul>-->
            </div>
            <div class="copyright">

            </div>
        </div>
    </div>
</div>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?49e9e3e54ae5bf8f8c637e11b3994c74";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();


</script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49812585-12', 'auto');
    ga('send', 'pageview');

</script>

<script>
    //自动推送
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>

<script>
    (function(){
        //手机抖动动画
        function phoneAnimate() {
            $("#head_shake").addClass("shake");
            var phone = setTimeout('$("#head_shake").removeClass("shake")',3000);
        }
        var d = new Date();
        var nowYear = d.getFullYear();

        var html = '<p class="text-left">鸣谢&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://tianqi.moji.com/" target="_blank">墨迹天气' +
            '</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.amap.com/" target="_blank" >高德地图</a></p>';
        $(".copyright").html(html);
        phoneAnimate();
    })();
</script>
<!--============================================以下是我自己写的========================================================-->
<script>

    var map, geolocation,getLng,getLat;
    //加载地图，调用浏览器定位服务
    map = new AMap.Map('calendar_grid', {
        resizeEnable: true,
        zoom:11
    });
    map.plugin('AMap.Geolocation', function() {
        geolocation = new AMap.Geolocation({
            enableHighAccuracy: true,//是否使用高精度定位，默认:true
            timeout: 10000,          //超过10秒后停止定位，默认：无穷大
            buttonOffset: new AMap.Pixel(10, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
            zoomToAccuracy: true,      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
            buttonPosition:'RB',
            noIpLocate:0
        });
        map.addControl(geolocation);
        geolocation.getCurrentPosition();
        AMap.event.addListener(geolocation, 'complete', onComplete);//返回定位信息
        AMap.event.addListener(geolocation, 'error', onError);      //返回定位出错信息
    });
    //解析定位结果
    function onComplete(data) {
        var str=['定位成功'];
        str.push('经度：' + data.position.getLng());
        str.push('纬度：' + data.position.getLat());
        getLng = data.position.getLng();
        getLat = data.position.getLat();
        lnglatXY = [getLng, getLat]; //已知点坐标

        var geocoder = new AMap.Geocoder({
            radius: 1000,
            extensions: "all"
        });
        geocoder.getAddress(lnglatXY, function(status, result) {
            alert(lnglatXY);
            if (status === 'complete' && result.info === 'OK') {
                geocoder_CallBack(result);
            }else {
                alert("jiexishibai");
            }
        });
        var marker = new AMap.Marker({  //加点
            map: map,
            position: lnglatXY
        });
        map.setFitView();
    }
    function geocoder_CallBack(data) {
        var address = data.regeocode.formattedAddress; //返回地址描述
        alert(address);
    }

    function onError() {
        layer.msg("地址解析失败");
    }




    //加载基本的地图信息
    function basic_map() {
        //alert(getLng+" "+getLat);
        //加载地图，调用浏览器定位服务
        map = new AMap.Map('calendar_grid', {
            resizeEnable: true,
            zoom:11
        });
        map.plugin('AMap.Geolocation', function() {
            geolocation = new AMap.Geolocation({
                enableHighAccuracy: true,//是否使用高精度定位，默认:true
                timeout: 10000,          //超过10秒后停止定位，默认：无穷大
                buttonOffset: new AMap.Pixel(10, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
                zoomToAccuracy: true,      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
                buttonPosition:'RB',
                noIpLocate:0
            });
            map.addControl(geolocation);
            geolocation.getCurrentPosition();
            AMap.event.addListener(geolocation, 'complete', onComplete);//返回定位信息
            AMap.event.addListener(geolocation, 'error', onError);      //返回定位出错信息
        });

    }

    //加载卫星云图
    function satellite() {
        var satellite = new AMap.TileLayer.Satellite({
            zIndex: 10
        });
        map.add(satellite);
        //geolocation();
    }
    //公交地图
    function bus_map() {
        layer.alert('暂未开放，看看别的吧', {
            skin: 'layui-layer-molv' //样式类名
            ,closeBtn: 0
            ,icon: 5
        });
       // geolocation();
    }
    //旅游地图
    function tourist() {
        layer.alert('暂未开放，看看别的吧', {
            skin: 'layui-layer-molv' //样式类名
            ,closeBtn: 0
            ,icon: 5
        });
       // geolocation();
    }
    //热力地图
    function heat_map() {
        layer.alert('暂未开放，看看别的吧', {
            skin: 'layui-layer-molv' //样式类名
            ,closeBtn: 0
            ,icon: 5
        });
       // geolocation();
    }
    //加载实时路况信息
    function live_traffic() {
        //实时路况图层
        var trafficLayer = new AMap.TileLayer.Traffic({
            zIndex: 10
        });
        map.add(trafficLayer);//添加图层到地图
    }


</script>
</body>
</html>
