
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<meta name="keywords" content="大兴区天气预报，查询">-->
    <!--<meta name="author" content="Moji Weather Web Dev Team">-->
    <link rel="shortcut icon" href="https://h5tq.moji.com/f5/assets/tianqi/favicon.ico">
    <link rel="apple-touch-icon" href="https://h5tq.moji.com/f5/assets/tianqi/custom_icon.png">
    <link rel="apple-touch-icon" href="https://h5tq.moji.com/f5/assets/tianqi/touch-icon-iphone-60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://h5tq.moji.com/f5/assets/tianqi/touch-icon-ipad-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://h5tq.moji.com/f5/assets/tianqi/touch-icon-iphone-retina-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://h5tq.moji.com/f5/assets/tianqi/touch-icon-ipad-retina-152.png">
    <meta name="mobile-agent" content="format=html5;url=https://m.moji.com/">
    <link rel="alternate" media="only screen and(max-width: 640px)" href="https://m.moji.com/">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8; charset=UTF-8" />-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />-->
    <title>【稚子候门系列之天气预报和地图】</title>
    <link rel="stylesheet" href="https://h5tq.moji.com/tianqi/assets//styles/reset.css" charset="utf-8">
    <link rel="stylesheet" href="https://h5tq.moji.com/tianqi/assets//styles/index.css"  charset="utf-8">
    <link rel="stylesheet" href="https://h5tq.moji.com/tianqi/assets//styles/chanle.css"  charset="utf-8">
    <link rel="stylesheet" href="./styles/map.css"  charset="utf-8">

    <!--<link rel="stylesheet" href="./bootstrap/css/bootstrap.css"  charset="utf-8">-->
</head>
<body>
<div class="head_box">
    <div class="head clearfix">
        <a class="logo" href="http://www.moji.com/">
            <!--<img src="https://h5tq.moji.com/tianqi/assets//images/index/i_logo.png" alt="墨迹天气" height="31">-->
            <img src="./image/logo.png" alt="稚子候门" >
        </a>
        <!---->
        <div class="nav">
            <a href="#" >首页</a>
            <a href="https://tianqi.moji.com" target="_blank">墨迹天气</a>
            <a href="https://www.amap.com/" target="_blank">高德地图</a>
            <a href="http://123.206.78.174/" target="_blank">稚子候门</a>
            <a href="http://localhost:8088/readme">关于稚子候门</a>
        </div>
    </div>
</div>

<div id="skin"
     data-data="13"
     data-url="https://h5tq.moji.com/tianqi/assets/images/skin/day_1.jpg"
     style="background: url(https://h5tq.moji.com/tianqi/assets/images/skin/day_1.jpg) no-repeat center top;background-size: 100% 100%;">
</div>

<div class="wrap clearfix">
    <div class="comm_box">
        <!--面包屑-->
        <div class="crumb clearfix"  id="address100">
            <ul>
                <li><a href="https://tianqi.moji.com">天气</a><i></i></li>
                <li><a href="https://tianqi.moji.com/weather/china">中国</a><i></i></li>
                <li><a href="https://tianqi.moji.com/weather/china/beijing">北京市</a><i></i></li>
                <li>大兴区</li>
            </ul>
        </div>
    </div>
    <!---->
</div>
<div class="wrap clearfix wea_info">
    <div class="left"  id="current_weather">
        <!--当前天气实况-->
    </div>
    <div class="right">
        <div class="wea_info_avator">
            <img src="https://h5tq.moji.com/tianqi/assets//images/avator/icon/3.png" alt="墨迹天气 小墨哥">
        </div>
    </div>
</div>
<div class="wrap clearfix">
    <div class="left">
        <div class="forecast clearfix">
            <div class="g_title">
                <span>预报</span>
            </div>

            <div  id="my_forecast">
                <ul class="days clearfix">
                    <li>今天</li>
                    <li>阴</li>
                    <li>22° / 30°</li>
                    <li><em>东风</em><b>3级</b></li>
                    <li><strong class="level_1">43 优</strong></li>
                </ul>
                <ul class="days clearfix">
                    <li>明天</li>
                    <li>阴</li>
                    <li>22° / 30°</li>
                    <li><em>东风</em><b>3级</b></li>
                    <li><strong class="level_1">43 优</strong></li>
                </ul>
                <ul class="days clearfix">
                    <li>后天</li>
                    <li>阴</li>
                    <li>22° / 30°</li>
                    <li><em>东风</em><b>3级</b></li>
                    <li><strong class="level_1">43 优</strong></li>
                </ul>
                <ul class="days clearfix">
                    <li>大后天</li>
                    <li>阴</li>
                    <li>22° / 30°</li>
                    <li><em>东风</em><b>3级</b></li>
                    <li><strong class="level_1">43 优</strong></li>
                </ul>
            </div>
        </div>


        <!--生活指数-->
        <div id="live_index">
            <div class="live_index_title">
                <h2>生活指数</h2>
                <span></span>
            </div>
            <div class="live_index_grid">
                <ul class="clearfix">
                    <li>
                        <a href="https://tianqi.moji.com/car/china/beijing/daxing-district" class="clearfix">
                                          <span><img src="https://h5tq.moji.com/tianqi/assets/images/script/17.png"> </span>
                            <dl>
                                <dt>较不适宜</dt>
                                <dd>洗车</dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="https://tianqi.moji.com/pollution/china/beijing/daxing-district" class="clearfix">
                                          <span><img src="https://h5tq.moji.com/tianqi/assets/images/script/0.png"></span>
                            <dl>
                                <dt>中</dt>
                                <dd>空气污染扩散</dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="https://tianqi.moji.com/dress/china/beijing/daxing-district" class="clearfix">
                                          <span><img src="https://h5tq.moji.com/tianqi/assets/images/script/20.png"></span>
                            <dl>
                                <dt>热</dt>
                                <dd>穿衣</dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="https://tianqi.moji.com/uray/china/beijing/daxing-district" class="clearfix">
                                          <span><img src="https://h5tq.moji.com/tianqi/assets/images/script/21.png"></span>
                            <dl>
                                <dt>弱</dt>
                                <dd>紫外线</dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="https://tianqi.moji.com/makeup/china/beijing/daxing-district" class="clearfix">
                                          <span><img src="https://h5tq.moji.com/tianqi/assets/images/script/7.png"></span>
                            <dl>
                                <dt>控油</dt>
                                <dd>化妆</dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="https://tianqi.moji.com/sport/china/beijing/daxing-district" class="clearfix">
                              <span><img src="https://h5tq.moji.com/tianqi/assets/images/script/26.png"></span>
                            <dl>
                                <dt>适宜</dt>
                                <dd>运动</dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="https://tianqi.moji.com/fish/china/beijing/daxing-district" class="clearfix">
                            <span><img src="https://h5tq.moji.com/tianqi/assets/images/script/28.png"></span>
                            <dl>
                                <dt>较适宜</dt>
                                <dd>钓鱼</dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="https://tianqi.moji.com/cold/china/beijing/daxing-district" class="clearfix">
                              <span><img src="https://h5tq.moji.com/tianqi/assets/images/script/12.png"></span>
                            <dl><dt>较易发</dt><dd>感冒</dd>
                            </dl>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="right">
        <div class="liveview liveview_index" id="id100" >
            <div class="title">
                <em>热烈推荐</em>
                <a href="https://s.taobao.com/search?q=%E7%81%B5%E5%8F%B0%E8%8B%B9%E6%9E%9C&imgfile=&js=1&stats_click=search_radio_all%3A1&initiative_id=staobaoz_20180712&ie=utf8"
                 target="_blank">更多</a>
            </div>
            <div class="item">
                <ul>
                    <li  id="id101">
                        <!--<a href="https://tianqi.moji.com/liveview/picture/81736828">-->
                        <span>
                            <img onmouseover="maxPage();"
                                    data-width="1080"
                                    data-height="1301"
                                    src="./image/pingguo_min.jpg" alt="">
                        </span>
                            <h2>朝那塬上的一个苹果</h2>
                        </a>
                    </li>
                    <!--<li style="height: 10px"></li>-->
                    <li  id="id102">
                        <!--<a href="https://tianqi.moji.com/liveview/picture/81749154">-->
                        <span>
                            <img onmouseover="maxPage();"
                                    data-width="1080"
                                    data-height="1301"
                                    src="./image/pingguo_min.jpg" alt="">
                        </span>
                            <h2>朝那塬上的另外一个苹果</h2>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--<div style="height: 20px"></div>-->

    </div>
    </div>

</div>




<!--增加地图模块-->
<div class="wrap clearfix calendar">
    <div class="g_title clearfix">
        <span>实时地图</span>
        <em><!--今天1:11更新--></em>
    </div>
    <div class="grid_title clearfix" >
        <ul class="nav nav-tabs">
            <li role="presentation" id="basic_map" class="active" >基本地图</li>
            <li role="presentation" onclick="tourist();">旅游地图</li>
            <li role="presentation" onclick="heat_map();">热力地图</li>
            <li role="presentation" onclick="bus_map();">公交地图</li>
        </ul>
    </div>
        <div class="grid clearfix" id="calendar_grid" >
            <!--插入地图信息-->
        </div>
     <div id="tip"></div>
</div>
<!--预留模块-->
<div id="reserved">
    <!--此处是预留模块-->
</div>
<input type="hidden" id="staticdomain" value="https://h5tq.moji.com/tianqi">
<input type="hidden" id="staticmd5" value="">
<script src="https://h5tq.moji.com/tianqi/assets/scripts/libs/jquery.min.js"></script>
<script src="https://h5tq.moji.com/tianqi/assets//scripts/pages/index.charts.js"></script>
<script src="https://h5tq.moji.com/tianqi/assets//scripts/pages/index.js"></script>
<script src="./bootstrap/js/bootstrap.js"></script>
<script src="./layer/layer.js"></script>

<!--//引入高德api-->
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.8&key=2684b4301ac22ebca99fd127c9ddd233"></script>

<script type="text/javascript" src="https://cache.amap.com/lbs/static/addToolbar.js"></script>

<script type="text/javascript" src="./script/index.js"></script>

<!--//引入搜狐定位api-->
<iframe src="http://miniweb.cntv.cn/hezuo/mo.html" frameborder="0" width="0" height="0" style="display: none; overflow: hidden;"></iframe>
<div class="foot_box clearfix">
    <div class="foot clearfix">

        <div class="foot clearfix">
            <div class="address">
                <p>联系方式：ykbian@qq.com</p>
                <!--<ul class="f_nav">-->
                    <!--<li><a href="http://www.moji.com/updata/android/"  rel="nofollow" >升级日志</a></li>-->
                    <!--<li><a href="http://www.moji.com/faq/android/" rel="nofollow">常见问题</a></li>-->
                    <!--<li><a href="http://designer.moji.com/signin" rel="nofollow">设计师平台</a></li>-->
                    <!--<li><a href="http://www.moji.com/about/agreement/" rel="nofollow">服务协议</a></li>-->
                <!--</ul>-->
            </div>
            <div class="copyright">

            </div>
        </div>
    </div>
</div>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?49e9e3e54ae5bf8f8c637e11b3994c74";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();


</script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49812585-12', 'auto');
    ga('send', 'pageview');

</script>

<script>
    //自动推送
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>

<script>
    (function(){
        //手机抖动动画
        function phoneAnimate() {
            $("#head_shake").addClass("shake");
            var phone = setTimeout('$("#head_shake").removeClass("shake")',3000);
        }
        var d = new Date();

        var html = '<p class="text-left">鸣谢&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://tianqi.moji.com/" target="_blank">墨迹天气' +
            '</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.amap.com/" target="_blank" >高德地图</a></p>';
        $(".copyright").html(html);
        phoneAnimate();
    })();
</script>
<!--============================================以下是我自己写的========================================================-->

</body>
</html>
